{% extends 'app/dashboard/dashboard.html' %}

<!-- Load static -->
{% load static %}

<!-- Turn off auth notifications -->
{% block auth_messages %}{% endblock auth_messages %}

<!-- Turn off auth notifications -->
{% block title %}Всі завдання{% endblock title %}

{% block dashboard_content%}
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h5 class="mb-0">Завдання</h5>
          <form action="#" method="GET">
            <select class="form-select w-auto" name="filter" onchange="this.form.submit()">
                <option value="today" {% if filter_option == 'today' %}selected{% endif %}>Сьогодні</option>
                <option value="week" {% if filter_option == 'week' %}selected{% endif %}>За тиждень</option>
                <option value="month" {% if filter_option == 'month' %}selected{% endif %}>За місяць</option>
                <option value="all" {% if filter_option == 'all' %}selected{% endif %}>Всі</option>
              </select>
          </form>
        </div>
        <div class="table-responsive">
          <div
            class="datatable-wrapper datatable-loading no-footer searchable fixed-columns"
          >
            <div class="datatable-container">
              <table
                class="table table-hover datatable-table"
                id="pc-dt-simple"
              >
                <thead>
                  <tr>
                    <th>Імя</th>
                    <th>Статус</th>
                    <th>Створений</th>
                  </tr>
                </thead>
                <tbody>
                  {% if all_tasks %}
                  {% for task in all_tasks %}
                  <tr data-index="{{ task.id}}">
                    <td>
                      <div class="row align-items-center">
                        <div class="col-auto pe-0">
                          <img
                            src="{% static 'assets/images/widget/img-prod-1.jpg' %}"
                            alt="user-image"
                            class="wid-55 hei-55 rounded"
                          />
                        </div>
                        <div class="col">
                          <h6 class="mb-2">
                            <span class="text-truncate w-100">
                              {{ task.name }}
                            </span>
                          </h6>
                          <p class="text-muted f-12 mb-0">
                            <span class="text-truncate w-100">
                              {{ task.description|truncatechars:50 }}
                            </span>
                          </p>
                        </div>
                      </div>
                    </td>
                    <td>
                      {% if task.is_completed %}
                      <span class="badge bg-success">Виконаний</span>
                      {% else %}
                      <span class="badge bg-danger">Невиконаний</span>
                      {% endif %}
                    </td>
                    <td class="f-w-600">
                      {{ task.created_at|date:"D d M Y" }}
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="4">Немає завдань</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
            <nav aria-label="...">
              <ul class="pagination">
                <li class="page-item disabled">
                  <span class="page-link">Попередні</span>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#!">1</a>
                </li>
                <li class="page-item active">
                  <span class="page-link">
                    2
                    <span class="sr-only"> (поточна) </span>
                  </span>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#!">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#!">Наступна</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock dashboard_content %}
