{% extends 'app/dashboard/dashboard.html' %}

<!-- Load static -->
{% load static %}

<!-- Turn off auth notifications -->
{% block auth_messages %}{% endblock auth_messages %}
<!-- Turn off auth notifications -->

{% block breadcrumbs %}
<!---->
{% block current_page %}Створення нової команди{% endblock current_page %}
<!---->
{% endblock breadcrumbs %}

<!---->
{% block title %}Створити нову команкду{% endblock title%}

<!-- Content start -->
{% block dashboard_content%}
<div class="row">
  <div class="col-lg-8 col-md-12">
    <div class="card">
      <div class="card-header">
        <h6 class="mb-0">Створіть нову команду</h6>
      </div>
      <div class="card-body">
        <form action="#" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_name" class="form-label">Назва команди</label>
            <input
              class="form-control"
              type="text"
              placeholder="Enter name"
              name="name"
              required
              maxlength="128"
              id="id_name"
            />
          </div>
          <div class="mb-3">
            <label for="id_image" class="form-label">Додати файл</label>
            <input
              class="form-control"
              name="image"
              type="file"
              id="id_image"
            />
          </div>
          <div class="mt-3">
            <button type="submit" class="btn btn-success">
              Створити команду
              <i data-feather="check-circle"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock dashboard_content %}

<!-- Content End -->
