{% extends 'app/dashboard/dashboard.html' %}

<!-- Load static -->
{% load static %}

<!-- Turn off auth notifications -->
{% block auth_messages %}{% endblock auth_messages %}

<!-- Turn off auth notifications -->
{% block breadcrumbs %}
<li class="breadcrumb-item">
  <a href="{% url 'new-tasks' %}">Нові завдання</a>
</li>
<!--Breadcrumbs-->
{% block current_page %}Перегляд завдання{% endblock current_page %}
<!--Breadcrumbs-->
{% endblock breadcrumbs %}

<!--Title-->

{% block title %}Перегляд завдання{% endblock title %}

<!--Dashboard main-->
{% block dashboard_content%}
<div class="row">
  <div class="col-lg-8 col-md-12">
    <div class="card">
      <div class="card-header">
        <h5>
          <i data-feather="book"></i>
          {{ task.name }}
        </h5>
      </div>
      <div class="card-body pc-component">
        <p>{{ task.description }}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>
          <i data-feather="check-circle" class="me-1"></i>
          Поставте прапорець, якщо ви розв'язали завдання.
        </h5>
      </div>
      <div class="card-body">
        {% if task.is_completed %}
        <div class="alert alert-success">
          <i data-feather="check-circle" class="me-2"></i>
          Завдання розв'язно.
        </div>
        {% else %}
        <form action="#" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="col-lg-12">
            <div class="border card p-3">
              <div class="form-check">
                <input
                  type="checkbox"
                  id="id_is_completed"
                  name="is_completed"
                  required
                  class="form-check-input input-primary me-2"
                />
                <label class="form-check-label d-block" for="id_is_completed">
                  <span>
                    <span class="h5 d-block">
                      <strong class="float-end">
                        <span class="badge bg-light-success"> Get it </span>
                      </strong>
                      Розв'язати завдання
                    </span>
                    <span class="f-12">
                      Якщо ви натиснете цей прапорець<br />
                      Ваше завдання буде вирішено та збережено в базі даних.
                    </span>
                  </span>
                </label>
              </div>
            </div>
            <div class="input-group">
              <label class="input-group-text" for="id_image">
                <i data-feather="upload-cloud" class="me-2"></i>
                Завантажити зображення
              </label>
              <input
                type="file"
                name="image"
                id="id_image"
                class="form-control"
              />
            </div>
            <small>Ви можете прикріпити зображення до завдання.</small>
          </div>
          <button type="submit" class="btn btn-primary mt-4">
            Надіслати
            <i data-feather="check-circle"></i>
          </button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="card-header">
        <h5>
          <i data-feather="help-circle" class="me-1"></i>
          Потрібна допомога?
        </h5>
      </div>
      <div class="card-body">
        <p>
          Наш інструмент зі штучним інтелектом створений для того, щоб допомогти
          тобі краще зрозуміти матеріал та впоратися із завданнями. Ось як це
          працює:
          <p><b>Штучний інтелект надасть тобі покрокове пояснення або підказки для вирішення задачі.</b></p>
          <small>Пам'ятай, що головна мета — твоє навчання, тому завжди старайся зрозуміти матеріал, а не просто отримати відповідь. Успіхів у навчанні!</small>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>
          <i data-feather="heart" class="me-1"></i>
          AI допомога
        </h5>
      </div>
      <div class="card-body">
        <p>
          <a
            href="{% url 'get-help-formula' task.id %}"
            class="btn btn-success {% if task.is_completed %}disabled{% else %}{% endif %}"
            id="btn-response"
          >
            Допомогти з формулою
            <i data-feather="aperture"></i>
          </a>
        </p>
        <p>
          <a
            href="{% url 'get-help-answer' task.id %}"
            class="btn btn-success {% if task.is_completed %}disabled{% else %}{% endif %}"
            id="btn-response"
          >
            Допомогти з задачою
            <i data-feather="aperture"></i>
          </a>
        </p>
        <p>
          <a href="{% url 'get-help-stucture' task.id %}"
          class="btn btn-success {% if task.is_completed %}disabled{% else %}{% endif %}"
          id="btn-response">
          Допомогти з структурою
          <i data-feather="aperture"></i>
        </a>
      </p>
      </div>
    </div>
  </div>
  {% endblock dashboard_content %}
  <!---->
</div>
