{% extends 'app/dashboard/dashboard.html' %}

<!-- Load static -->
{% load static %}

<!-- Turn off auth notifications -->
{% block auth_messages %}{% endblock auth_messages %}
<!-- Turn off auth notifications -->

{% block breadcrumbs %}
<!---->
{% block current_page %}Створення тесту{% endblock current_page %}
<!---->
{% endblock breadcrumbs %}
<!---->
{% block title %}Створити тест{% endblock title %}

<!-- Content start -->
{% block dashboard_content%}
<div class="row">
  <div class="col-lg-8 col-md-12">
    <div class="card">
      <div class="card-header">
        <h6>
          <i data-feather="plus"></i>
          Створити тест
        </h6>
      </div>
      <div class="card-body">
        <form action="#" method="POST">
          {% csrf_token %}
          <div class="col-md-12">
            <div class="mb-3">
              <label for="id_title" class="form-label">Назва тесту</label>
              <input
                type="text"
                class="form-control"
                placeholder="Введіть назву тесту"
                name="title"
                required
                maxlength="128"
                id="id_title"
              />
              <small class="text-muted ms-1">
                Використувуйте коректні назви
                <span class="text-yellow-300">*</span>
              </small>
            </div>
            <div class="mb-3">
              <label for="id_topic" class="form-label">Тема тесту</label>
              <input
                type="text"
                class="form-control"
                placeholder="Введіть тему тесту"
                name="topic"
                required
                id="id_topic"
                maxlength="128"
              />
              <small class="text-muted ms-1">
                Наприклад: "Мехічний рух"
                <span class="text-yellow-300">*</span>
              </small>
            </div>
            <div class="mb-3">
              <label for="id_quantity" class="form-label"
                >Кількість питань</label
              >
              <input
                type="number"
                class="form-control"
                placeholder="Enter quantity"
                name="quantity_questions"
                required
                id="id_quantity_questions"
                value="5"
                min="0"
              />
              <small class="text-gray-500">
                Вибирайте від 5 до 12 <span class="text-yellow-300">*</span>
              </small>
            </div>
            <div class="mb-3">
              <label class="form-label" for="id_form_class">Клас учня:</label>
              <select name="form_class" id="id_form_class" class="form-select">
                <option value="7" selected="">7 клас</option>
                <option value="8">8 клас</option>
                <option value="9">9 клас</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="id_difficulty">Складність</label>
              <select class="form-select" id="id_difficulty" name="difficulty">
                <option value="легкий" selected>Легкий</option>
                <option value="середньої складності">
                  Середньої складності
                </option>
                <option value="тяжкий">Тяжкий</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="id_description"
                >Додаткові відомості</label
              >
              <textarea
                class="form-control"
                rows="2"
                placeholder="Додайте інші опції"
                name="description"
                id="id_description"
              ></textarea>
              <small
                >Наприклад: Додайте відповіді до тесту...
                <span class="text-yellow-400">*</span></small
              >
            </div>
          </div>
          <div class="mt-2">
            <button type="submit" class="btn btn-primary" id="ai-submit">
              Створити
              <i data-feather="check-circle"></i>
              <!-- <i data-feather="x"></i>
                <i data-feather="clock"></i>
                <i data-feather="edit-2"></i>
                <i data-feather="trash-2"></i>
                <i data-feather="eye"></i>
                <i data-feather="eye-off"></i>
                <i data-feather="help-circle"></i>
                <i data-feather="calendar"></i>
                <i data-feather="download"></i>
                <i data-feather="upload"></i>
                <i data-feather="more-horizontal"></i>
                <i data-feather="message-square"></i>
                <i data-feather="user-plus"></i>
                <i data-feather="user-minus"></i>
                <i data-feather="user-check"></i> -->
            </button>
            <button type="reset" class="btn btn-danger">
              Скинути
              <i data-feather="x"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="card-header">
        <h6>
          <i data-feather="help-circle"></i>
          Потрібна допомога?
        </h6>
      </div>
      <div class="card-body">
        <p>
          {% if result %} {{result}} {% else %} Цей інструмент дозволить швидко
          створити тест для перевірки знань учня, майже на будь-яку тему, слід
          розуміти, що цей інструмент не "абсолютний", він приходить на допомогу
          вчителю для пришвидшення створення контроля знань. {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock dashboard_content %}
<!-- Content end -->
{% block scripts %}
<script>
  // Your JavaScript code here
  // Example:
  // document
  //   .getElementById("ai-submit")
  //   .addEventListener("click", function (event) {
  //     event.preventDefault();
  //     // Your code here
  //     // Example:
  //     alert("Form submitted!");
  //   });
</script>
{% endblock scripts %}
