{% extends 'app/dashboard/dashboard.html' %}

<!-- Load static -->
{% load static %}

<!-- Turn off auth notifications -->
{% block auth_messages %}{% endblock auth_messages %}
<!-- Turn off auth notifications -->

{% block breadcrumbs %}
<!---->
{% block current_page %}Test{% endblock current_page %}
<!---->
{% endblock breadcrumbs %}
<!---->
{% block title %}Test detail{% endblock title %}

<!-- Content start -->
{% block dashboard_content%}
<div class="row">
  <div class="col-lg-7 col-md-12">
    <div class="card">
      <div class="card-header">
        <h6>Test detail</h6>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="30"
            col="20"
            disabled
          >
            {{ test.test_response.content }}
  
        </textarea
          >
        </div>
      </div>
      <div class="card-footer">
        <a href="" class="btn btn-light-primary">
          Solve
          <i class="ti ti-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-md-12">
    <div class="card">
      <div class="card-header">
        <h6>Test work</h6>
      </div>
      <div class="card-body">
        <form action="#" method="POST">
          {% csrf_token %}
          <!-- <div class="card-body">
            <div class="row">
              <div class="mb-3 col-6">
                <label for="id_number_of_question" class="form-label"
                  >Enter number of question</label
                >
                <input
                  class="form-control"
                  type="number"
                  name="number_of_question"
                  min="0"
                  id="id_number_of_question"
                  required
                />
              </div>
              <div class="mb-3 col-6">
                <label for="id_user_choose" class="form-label"
                  >Choose correct letter</label
                >
                <input
                  class="form-control"
                  type="text"
                  id="id_user_choose"
                  maxlength="12"
                  required
                  name="user_choose"
                />
              </div>
            </div> -->
            {% for item in static_range %}
            <div class="row">
              <div class="mb-3 col-6">
                <label for="id_number_of_question_{{ forloop.counter }}" class="form-label"
                  >Enter number of question</label
                >
                <input
                  class="form-control"
                  type="number"
                  name="number_of_question_{{ forloop.counter }}"
                  min="0"
                  id="id_number_of_question_{{ forloop.counter }}"
                  required
                />
              </div>
              <div class="mb-3 col-6">
                <label for="id_user_choose_{{ forloop.counter }}" class="form-label"
                  >Choose correct letter</label
                >
                <input
                  class="form-control"
                  type="text"
                  id="id_user_choose_{{ forloop.counter }}"
                  maxlength="12"
                  required
                  name="user_choose_{{ forloop.counter }}"
                />
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock dashboard_content%}
<!-- Content start -->
