<!-- templates/registration/account_activation_email.html -->
Привіт, {{ user.email }},

<!-- templates/registration/account_activation_email.html -->

Дякуємо за реєстрацію! Натисніть посилання нижче, щоб підтвердити свою
електронну адресу адресу та активуйте свій обліковий запис:

<!-- templates/registration/account_activation_email.html -->

http://{{ domain }}{% url 'activate' uidb64=uid token=token %}
<!-- templates/registration/account_activation_email.html -->

Якщо ви не надсилали запит на цю реєстрацію, проігноруйте цей електронний лист.
дякую!
