{% extends 'base.html' %} {% load static %}

<!---->
{% block main %}
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
  <div class="loader-track">
    <div class="loader-fill"></div>
  </div>
</div>
<!-- [ Pre-loader ] End -->

<div class="auth-main">
  <div class="auth-wrapper v1">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
          <div class="text-center">
            <a href="#">
              <!-- <img
                class="img-fluid"
                src="{% static 'assets/images/school-ai.v2.png' %}"
                alt="img"
              /> -->
              <img
                class="img-fluid"
                src="{% static 'assets/images/logo-dark.svg' %}"
                alt="img"
              />
            </a>
            <div class="d-grid my-3">
              <!-- <button
                    type="button"
                    class="btn mt-2 btn-light-primary bg-light text-muted"
                  >
                    <img
                      src="{% static 'assets/images/authentication/facebook.svg' %}"
                      alt="img"
                    />
                    <span> Sign In with Facebook</span>
                  </button>
                  <button
                    type="button"
                    class="btn mt-2 btn-light-primary bg-light text-muted"
                  >
                    <img
                      src="{% static 'assets/images/authentication/twitter.svg' %}"
                      alt="img"
                    />
                    <span> Sign In with Twitter</span>
                  </button> -->
              <a
                href='{% url "social:begin" "google-oauth2" %}'
                type="button"
                class="btn mt-2 btn-light-primary bg-light text-muted"
              >
                <img
                  src="{% static 'assets/images/authentication/google.svg' %}"
                  alt="img"
                />
                <span> Sign In with Google</span>
              </a>
            </div>
          </div>
          <div class="saprator my-3">
            <span>Чи</span>
          </div>
          <h4 class="text-center f-w-500 mb-3">Увійдіть за допомогою Email.</h4>
          <form action="#" method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="Email Address"
                name="email"
                required
                autofocus
              />
            </div>
            <div class="form-group mb-3">
              <input
                type="password"
                class="form-control"
                id="floatingInput1"
                placeholder="Password"
                name="password"
                required
              />
            </div>
            <div class="d-flex mt-1 justify-content-between align-items-center">
              <div class="form-check">
                <input
                  class="form-check-input input-primary"
                  type="checkbox"
                  id="customCheckc1"
                  checked=""
                />
                <label class="form-check-label text-muted" for="customCheckc1"
                  >Зам'ятати мене?</label
                >
              </div>
              <h6 class="text-secondary f-w-400 mb-0">
                <a href="{% url 'password_reset' %}">Забули пароль?</a>
              </h6>
            </div>
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary">Увійти</button>
            </div>
            <div class="d-flex justify-content-between align-items-end mt-4">
              <h6 class="f-w-500 mb-0">Не маєте облікового запису?</h6>
              <a href="{% url 'signup' %}" class="link-primary"
                >Створити акаунт</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->
{% endblock main %}
