{% extends 'base.html' %}

<!-- Load static -->

{% load static %}
<!-- templates/registration/password_reset_complete.html -->

{% block main %}
<div class="auth-main">
  <div class="auth-wrapper v1">
    <div class="auth-form">
      <h2 class="text-center display-4 my-5">Password Reset Complete</h2>
      <p class="lead text-center">
        Your password has been reset. You can now
        <a href="{% url 'signin' %}" class="btn btn-light-primary">Log In</a>
        with the new password.
      </p>
    </div>
  </div>
</div>
{% endblock main %}
