{% extends 'base.html' %}

<!-- Load static -->

{% load static %}
<!-- templates/registration/password_reset_complete.html -->

{% block main %}
<div class="auth-main">
  <div class="auth-wrapper v1">
    <div class="auth-form">
      <h2 class="text-center display-4 my-5">Скидання пароля завершено</h2>
      <p class="lead text-center">
        Ваш пароль скинуто. Ви можете зараз
        <a href="{% url 'signin' %}" class="btn btn-light-primary">Увійти</a>
        з новим паролем.
      </p>
    </div>
  </div>
</div>
{% endblock main %}
